.navbar li {
    display: inline-block;
    text-align: center;
  }
  
  .itemLeft {
  
    margin-right: 60px;
  }
  .navbar-brand {
    font-size: 24px;
  }
  .itemCenter {
    margin-right:100px; 
  }
  /* .itemRight {
    margin-left: 400px; 
  } */

  .navbar {
    background: #3925ee;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  }
  
  li {
    color: white;
    padding: 15px 0;
  }
  
  body {
    font-size: 24px;
  }